.primary {
    background-color: #1976D2;
    color: #ffffff;
}

.primary-light {
    background-color: #63A4FF;
    color: #000000;
}

.primary-dark {
    background-color: #004BA0;
    color: #ffffff;
}

.secondary {
    background-color: #D81B60;
    color: #ffffff;
}

.secondary-light {
    background-color: #FF5C8D;
    color: #000000;
}

.secondary-dark {
    background-color: #A00037;
    color: #ffffff;
}

.body {
    background-color: #EEEEEE;
    background-size: cover;
    padding: 0;
}